@import "tailwindcss";
@plugin './hero.ts';
/* Осторожно! чувстивтелен к структуре проекта */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

html,
body,
#root {
  height: 100vh;
}

html,
body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
  overflow: hidden;
}

/* Минималистичный скроллбар для всех элементов */
/* * {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 2px;
} */
